[submodule "roar"]
	path = roar
	url = git@github.com:apotonick/roar.git
[submodule "oat"]
	path = oat
	url = git@github.com:ismasan/oat.git
[submodule "yaks"]
	path = yaks
	url = git@github.com:plexus/yaks.git
